<template>
  <div class="m-auto">
    <h1> Products </h1>
    <div class="flex flex-wrap my-4 border-t">
      <div v-for="product in list" :key="product.id" class="p-4 w-1/5">
        <Product :content="product" />
      </div>
      <div v-if="(paging.total - paging.currentPage)  > 0" class="my-6 w-full text-center">
        <button class="py-4 px-12 bg-grey text-white" @click="more">Load More Products</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import Product from '../components/Product.vue';

export default {
  name: 'Home',
  components: {
    Product,
  },
  data: () => ({
    list: [],
    paging: {
      currentPage: 0,
      total: 0,
    },
  }),
  async created() {
    const { data, meta } = await this.products();

    this.list = data;
    this.paging.currentPage = meta.current_page;
    this.paging.total = meta.last_page;
  },
  methods: {
    ...mapActions([
      'products',
    ]),
    async more() {
      const { data, meta } = await this.products(this.paging.currentPage + 1);

      this.list.push(...data);
      this.paging.currentPage = meta.current_page;
      this.paging.total = meta.last_page;
    },
  },
};
</script>
