<template>
  <header class="w-full p-4 bg-blue-darkest text-white clearfix">
    <div class="float-left">
      <h1>Snacks Store</h1>
    </div>
    <div class="float-right">
      <button v-if="auth.loggedIn" type="button" class="py-2 px-4 bg-red text-white"
       @click="logout">
        Log<strong>Out</strong>
      </button>
      <button v-else type="button" class="py-2 px-4 bg-blue text-white" @click="showLogin = true" >
        Log<strong>In</strong>
      </button>
    </div>
    <Login v-if="showLogin" @close="showLogin = false" />
  </header>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Login from './Login.vue';

export default {
  name: 'Header',
  data: () => ({
    showLogin: false,
  }),
  components: {
    Login,
  },
  computed: {
    ...mapState([
      'auth',
    ]),
  },
  methods: {
    ...mapActions([
      'logout',
    ]),
  },
};
</script>
