<template>
  <!-- Login -->
  <div class="fixed pin-t pin-l flex items-center justify-center w-full h-full text-black">
    <div class="w-1/4 bg-white shadow-md rounded-lg overflow-hidden">
      <div class="p-4 bg-blue-darkest text-white">
        <h2>Login</h2>
      </div>
      <div class="p-4">
        <p class="mb-4">Login to the platform so you can show love and buy some amazing products</p>
        <form>
          <div class="my-2">
            <label for="email" class="block my-2">Email:</label>
            <input id="email" type="email" v-model="email"
              class="block w-full p-2 border-b" placeholder="email@example.com">
          </div>
          <div class="my-2">
            <label for="password" class="block my-2">Password:</label>
            <input id="password" type="password" v-model="password"
              class="block w-full p-2 border-b" placeholder="Type your password">
          </div>
          <div class="my-4">
            <button
              @click="submit"
              type="button"
              class="mr-2 py-2 px-4 bg-blue text-white rounded shadow"
            >
              login
            </button>
            <button
              @click="$emit('close')"
              type="button"
              class="py-2 px-4 bg-white text-dark rounded shadow"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /Login -->
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Login',
  data: () => ({
    email: null,
    password: null,
  }),
  methods: {
    ...mapActions([
      'login',
    ]),
    async submit() {
      try {
        await this.login({
          email: this.email,
          password: this.password,
        });

        this.$emit('close');
      } catch (error) {
        // TODO: Improve alerts
        console.error(error);

        alert('An error ocurred');
      }
    },
  },
};
</script>
