<template>
  <div class="rounded-lg shadow-md overflow-hidden">
    <img src="https://via.placeholder.com/300" alt="placeholder image" class="w-full">
    <div class="p-4">
      <h3>{{ content.name }}</h3>
      <div class="flex">
        <div class="py-2 mr-2">
          Likes <strong>{{ content.likes_count }}</strong>
        </div>
        <div class="py-2">
          Quantity <strong>{{ content.quantity }}</strong>
        </div>
      </div>
      <hr class="border-t">
      <p>{{ content.description }}</p>
    </div>
    <div class="flex">
      <button v-if="content.quantity > 0"
        class="p-4 w-1/2 bg-blue text-white" @click="buyProduct(content.id)">
        Buy <strong>Now!</strong>
      </button>
      <div v-else class="p-4 w-1/2 bg-red-light text-white">
        Sold Out :(
      </div>
      <button class="p-4 w-1/2 bg-pink-dark text-white" @click="addLike(content.id)">
        Show some <strong>love</strong>
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Card',
  props: {
    content: Object,
  },
  computed: {
    ...mapState([
      'auth',
    ]),
  },
  methods: {
    ...mapActions([
      'like',
      'buy',
    ]),
    async addLike(id) {
      try {
        await this.like(id);

        this.content.likes_count += 1;
      } catch (error) {
        if (!this.auth.loggedIn) {
          alert('You need to login first');
          return;
        }

        alert('Already liked product');
      }
    },
    async buyProduct(id) {
      try {
        await this.buy(id);
      } catch (error) {
        if (!this.auth.loggedIn) {
          alert('You need to login first');
          return;
        }

        alert('Product not available');
      }
    },
  },
};
</script>
