<template>
  <div id="app">
    <Header />
    <!-- Content -->
    <div class="p-4">
      <router-view/>
    </div>
    <!-- /Content -->
    <footer class="p-4 bg-blue-darkest text-white">
      <span>
        <strong>Snacks Store &copy;</strong>
      </span>
    </footer>
  </div>
</template>

<script>
import Header from './components/Header.vue';

export default {
  name: 'App',
  components: {
    Header,
  },
};
</script>
